<launch>

    <!-- <arg name="world_file_name" default="no_roof_small_warehouse"/> -->
    <arg name="world_file_name" default="normal"/>

    <!-- Empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find go1_gazebo)/world/$(arg world_file_name).world"/>
      <arg name="use_sim_time" value="true"/>
    </include>

    <!-- Robot -->
    <!-- <arg name="robot" default="$(find go1_description)/urdf/go1.urdf"/> -->
    <arg name="robot" default="$(find go1_description)/urdf/go1_without_sensor.urdf"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg robot)"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0.0 -y 0.0 -z 0.4 -model go1_gazebo"/>

    <!-- Controllers -->
    <rosparam file="$(find go1_gazebo)/config/go1_controllers.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="go1_gazebo"
          args="FR_hip_joint FR_thigh_joint FR_calf_joint
                FL_hip_joint FL_thigh_joint FL_calf_joint
                RR_hip_joint RR_thigh_joint RR_calf_joint
                RL_hip_joint RL_thigh_joint RL_calf_joint"/>

    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher" respawn="false" output="screen">
      <remap from="/joint_states" to="/go1_gazebo/joint_states" />
      <param name="publish_frequency" type="double" value="40" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
        args="-d $(find go1_gazebo)/rviz/go1_gazebo.rviz"/>
  
</launch>
